<!DOCTYPE html>
<html>
	<head>
		<title>cloudberry ex05</title>
		<meta charset="UTF-8">
		<meta name="author" content="igoryen">
		<meta name="description" content="repsponsive table v05">
		<meta name="keywords" content="HTML,CSS,SASS,JavaScript">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="../css/cloudberry05.css">
	</head>
	<body>
		<h1>cloudberry ex05</h1>
		<hr>

		<div class="anthony">


			<div class="form-row floors" id="schedule_a_income_floors">
				


				<div class="Rtable Rtable--9cols Rtable--collapse">

					<div class="Rtable-cell desktop">${anthony}</div>
					<div class="Rtable-cell desktop">${barbara}</div>
					<div class="Rtable-cell desktop">${betty}</div>
					<div class="Rtable-cell desktop">${brian}</div>
					<div class="Rtable-cell desktop">${carol}</div>
					<div class="Rtable-cell desktop">${charles}</div>
					<div class="Rtable-cell desktop">${christopher}</div>
					<div class="Rtable-cell desktop">${daniel}</div>
					<div class="Rtable-cell desktop">${david}</div>

					<!-- ROW 1 -->
					<div class="Rtable-cell Rtable-cell--head">
						<div class="mobile">${anthony}</div>
						<input type="text" id="" name="" ng-model="">
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" name="" ng-model="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" name="" ng-model="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${brian}</div>
						<input type="number" step="1" id="" name="" ng-model="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${carol}</div>
						<input type="number" step="1" id="" name="" ng-model="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${charles}</div>
						<label>$</label>
	                    <input type="number" step="0.01" id="" name="" ng-model="" ng-value = "">
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${christopher}</div>
						<label>$</label>
	                    <input type="number" step="0.01" id="" name="" ng-model="" ng-value="">
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${daniel}</div>
						<label>$</label>
	                    <input type="number" step="0.01" id="" ng-value="" >
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${david}</div>
						<label>$</label>
	                    <input type="number" step="0.01" id="" ng-value="" >
					</div>

					<!-- ROW 2 -->

					<div class="Rtable-cell Rtable-cell--head">
						<div class="mobile">${anthony}</div>
						<input type="text" id="" value="">
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${brian}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${actual}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${economic}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${charles}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${christopher}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${daniel}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					
					<!-- ROW 3 -->

					<div class="Rtable-cell Rtable-cell--head">
						<div class="mobile">${anthony}</div>
						<input type="text" id="" value="">
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${brian}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">~ ${actual}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">~ ${economic}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>

					<div class="Rtable-cell">
						<div class="mobile">${charles}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${christopher}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${daniel}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>

					<!-- ROW 4 -->
					<div class="Rtable-cell Rtable-cell--head">
						<div class="mobile">${anthony}</div>
						<input type="text" id="" ng-model="scha_income_floor_04">
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${brian}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${actual}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${economic}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${charles}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${christopher}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${daniel}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>

					<!-- ROW 5 -->
					<div class="Rtable-cell Rtable-cell--head">
						<div class="mobile">${anthony}</div>
						<input type="text" id="" ng-model="scha_income_floor_05">
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${brian}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${actual}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${economic}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${charles}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${christopher}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${daniel}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>

					<!-- ROW 6 -->
					<div class="Rtable-cell Rtable-cell--head">
						<div class="mobile">${anthony}</div>
						<input type="text" id="" ng-model="scha_income_floor_06">
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${brian}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell double-column mobile">${carol}</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${actual}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${economic}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${charles}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${christopher}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${daniel}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>

					<!-- ROW 7 -->		
					<div class="Rtable-cell Rtable-cell--head">
						<div class="mobile">${anthony}</div>
						<input type="text" id="" ng-model="scha_income_floor_07">
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${brian}</div>
						<input type="number" step="1" id="" force-model-update>
					</div>
					<div class="Rtable-cell double-column mobile">${carol}</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${actual}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">~ ${economic}</div>
						<label>$</label><input type="number" step="0.01" id="" force-model-update>
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${charles}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${christopher}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell">
						<div class="mobile">${daniel}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>

					<!-- ROW TOTAL -->
					<div class="Rtable-cell total mobile Rtable-cell--head">Total</div>
					<div class="Rtable-cell total desktop"></div>
					<div class="Rtable-cell total">
						<div class="mobile">${barbara}</div>
						<input type="number" step="1" id="" ng-value="" >
					</div>
					<div class="Rtable-cell total">
						<div class="mobile">${betty}</div>
						<input type="number" step="1" id="" ng-value="" >
					</div>
					<div class="Rtable-cell total">
						<div class="mobile">${brian}</div>
						<input type="number" id="" ng-value="" >
					</div>
					<div class="Rtable-cell total">
						<div class="mobile">~ ${actual}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell total">
						<div class="mobile">~ ${economic}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell total">
						<div class="mobile">${charles}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell total">
						<div class="mobile">${christopher}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>
					<div class="Rtable-cell total">
						<div class="mobile">${daniel}</div>
						<label>$</label><input type="number" step="0.01" id="" ng-value="" >
					</div>

				</div>
			</div>





		</div>

	</body>
</html>